.idea/
venv/
*.secrets
__pycache__/
.tpcache
build-tools
build/
dist/
venv-*
venv
*.egg-info/
.pytest_cache/

# IntelliJ files
*.iml
.idea
out/

# OSX files
.DS_Store
**/tools/*
!tools/packages.config

# test reports
systemtest/reports/*

# Local developer configs
**/local-resources/*
!**/local-resources/template*

# terraform local state files
terraform/.terraform

# Generated source
**/src/generated/**

# .NET build output
**/bin/**
**/obj/**
.build/

# used for launching docker containers for E2E tests, should not be checked in
run.env
